{% extends "hello/layout.html" %}

{% block title %}blend{% endblock %}

{% block extra_css %}
<style>
    body{
    background-color: #061f4a;
    color: #ca1d59;
    }
    a:hover {
    color: #619b05;  
    text-decoration: none; 
    }
    a:active {
        color: #af0000;
        text-decoration: none;
    }
    a{
        color: #061f4a;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block body %}

<h1>I can't belive you just did that</h1>
<h2>I'm gonna blend it into the background this time</h2>
<h2>No way you'll find it.</h2>

<h4 style="margin: 200px 200px; color: white;"><a href="{% url 'move' %}">hello</a></h4>

{% endblock %}